.quiz-card {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 20px #cfd8dc;
  border-radius: 0.2rem;
  display: flex;
  height:2rem;
  width: 75%;
  margin: 20px;
  transition: transform 200ms ease-in;
}
